@{
    ViewBag.Title = "Transcripts";
    Layout = null;
}

@model WebApplication5.Models.Item

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<div class="form-group">
    <label>編號: </label>
    <label>@Model.id</label>
</div>
<div class="form-group">
    <label>名稱: </label>
    <label>@Model.name</label>
</div>
<div class="form-group">
    <label>數量: </label>
    <label>@Model.number</label>
</div>